<nav class="navbar navbar-expand" style=background-color:black;>
  <a class="navbar-brand" style="color:white" href="{% url 'welcome' %}">Neighbourhood</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
    <ul class="navbar-nav mr-auto"> 
      
      <a class="navbar-brand" style="color:white" href="{% url 'Profile' %}">Profile</a>
      <a class="navbar-brand" style="color:white" href="{% url 'view_profile' %}">View Profile</a>
      <a class="navbar-brand" style="color:white" href="{% url 'business' %}">Business</a>
      
         
    
  </div>
</nav>
