{% extends 'base.html'%}
​
{% block content %}

<!-- Card -->
<div class="card card-image"
  style="background-image: url(https://images.unsplash.com/photo-1524813686514-a57563d77965?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);">

  <!-- Content -->
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
    <div>
      <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Neighbourhood</h5>
      <h3 class="card-title pt-2"><strong>Click on the button bellow to choose your neighbourhood/strong></h3>

      <a class="btn btn-pink" href="{%url 'neighbour_page' %}" class="float-right">Choose Neighbourhood</a>
    </div>
  </div>

</div>
<!-- Card -->
<div class="row">

{% for neighbour in neighbour %}
<div class="col-md-4" style="margin-top:10px;">
  <!-- Card -->
  <div class="card">

    <!-- Card image -->
    <div class="view overlay">
      <img class="card-img-top" src="{{neighbour.image.url}}"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body">

      <!-- Title -->
      <h4 class="card-title">Name:<p class="Test">{{neighbour.name}}</p></h4>
      <!-- Text -->
      <p class="card-text"><b>Location</b>: {{neighbour.location}} </p>
      <!-- Button -->
        <p class="card-text"><b>Occupants</b>:{{neighbour.occupants}}</p>

    </div>

  </div>
  <!-- Card -->
</div>

{% endfor %}
</div>
{% endblock%}
